name: build

on:
  push:
    branches:
      - main
    tags:
      - '*.*.*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      MIX_ENV: prod
    strategy:
      matrix:
        elixir: [ '1.15.8', '1.16.3', '1.17.3', '1.18.1' ]
        otp: [ '27.2',  '26.2']
        exclude:
          - elixir: '1.15.8'
            otp: '27.2'
          - elixir: '1.16.3'
            otp: '27.2'

    steps:
    - name: Setup Elixir
      uses: erlef/setup-elixir@v1
      with:
        elixir-version: ${{ matrix.elixir }}
        otp-version: ${{ matrix.otp }}

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: mix deps.get --only prod

    - name: Compile
      run: mix compile --warnings-as-errors

    - name: Check formatting
      run: mix format --check-formatted

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: build
    if: github.ref_type == 'tag'

    steps:
    - name: Setup Elixir
      uses: erlef/setup-elixir@v1
      with:
        elixir-version: '1.18.1'
        otp-version: '27.2'

    - name: Check out
      uses: actions/checkout@v4

    - name: Install dependencies
      run: mix deps.get
    
    - name: Publish to Hex
      env:
        HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
      run: mix hex.publish --yes